services:
  LMS_backend:
    build:
      context: .
      dockerfile: Dockerfile
    image: lms_digiaccel
    container_name: learning_management_system-backend
    restart: unless-stopped
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    depends_on:
      - mongodb
    networks:
      - app_network

  mongodb:
    container_name: lms_digiaccel-mongodb
    image: mongo:latest
    environment:
      - MONGO_INITDB_ROOT_USERNAME=${MONGO_DB_ROOT_USERNAME}
      - MONGO_INITDB_ROOT_PASSWORD=${MONGO_DB_ROOT_PASSWORD}
    ports:
      - "8001:27017"
    volumes:
      - mongo_db:/data/db
    networks:
      - app_network

volumes:
  mongo_db:
  
networks:
  app_network:
    driver: bridge
