services:
  nginx:
    image: nginx:latest
    container_name: nginx
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    #volumes:
    #  - ./nginx.conf:/etc/nginx/nginx.conf
    #  - /etc/letsencrypt:/etc/letsencrypt
    depends_on:
      - lms_backend
    networks:
      - app_network

  lms_backend:
    build:
      context: .
      dockerfile: Dockerfile
    image: lms_digiaccel
    container_name: lms_backend
    restart: unless-stopped
    ports:
      - "8000:8000"
    volumes:
      - .:/app
      - /app/node_modules  # Prevents overwriting node_modules
    depends_on:
      - mongodb
    networks:
      - app_network

  mongodb:
    container_name: lms_digiaccel-mongodb
    restart: unless-stopped
    image: mongo:latest
    environment:
      - MONGO_INITDB_ROOT_USERNAME=${MONGO_DB_ROOT_USERNAME}
      - MONGO_INITDB_ROOT_PASSWORD=${MONGO_DB_ROOT_PASSWORD}
    ports:
      - "8001:27017"
    volumes:
      - mongo_db:/data/db
    networks:
      - app_network

volumes:
  mongo_db:
    driver: local
  
networks:
  app_network:
    name: app_network
    driver: bridge
